
*{
    margin:0;
    padding:0;
}

h1{
    font-family:"Arvo";

}
nav{
    display:flex;
    position:fixed;
    justify-content:space-between;
    background-color: black;
    padding:1%;
    box-shadow:2px 2px 2px black;
    z-index:20;
    width:100%;
    #hide_menu{
        display:none;
    }
    a.menu{
        display:block;
        color:white;
        text-decoration:none;
        transition:0.2s;
        &:hover{
            border-bottom: 5px solid white;

        }
    }
    img{
        margin-left:15vw;;
    }
    ul{
        display:flex;
        justify-content: space-between;
        margin-right:10vw;

    }
    li{
        color:white;
        list-style-type: none;
        margin-right:1vw;
        font-family:"Arvo";


    }
}
#home{
    background-image: url("../images/hero-image.jpg");
    height:60vh;
    text-align:center;
    padding:5%;
    h1,p{
        color:white;
        width:60%;
        margin:3%;
        margin-left:50%;
        transform:translate(-50%);
    }
    h1{
        font-size:2.5vw;
    }
    button{
        color:white;
        background-color:rgb(217, 83, 79);
        border:none;
        padding:0.5%;
        border-radius:5px;
        font-size:1.5vw;
        position:absolute;
        margin-left:-3%;
        
    }
    img{
        position:relative;
        top:20vh;
    }
}
.orange{
    color:rgb(217, 83, 79);
}
.intersection{
    width:10vw;
    border:1px solid rgb(217, 83, 79);
    margin-left:  50%;
    transform:translate(-50%);
    margin-top:1.5%;
    margin-bottom:1.5%;
}
#who{
    text-align:center;
    margin:2%;
    h1{
        margin:1%;
    }
}
#get-involved{
    background-color: #F5F5F5;
    padding:1%;
    text-align:center;
    li{
        list-style-type: none;
    }
    #container{
        display:flex;
        flex-direction:row;
        margin-left:18%;
        text-align:center;
        .cards{
            i{
                font-size:4vw;
            }
            width:22%;
            padding:2%;
            h1,p,button{
                margin:2%;
                
            }
        }
    }
    
}
footer{
    height:20vh;
    background-color: rgb(217, 83, 79);
    img{
        position:relative;
        margin-left:8%;
        top:60%;
    }
}
#back-to-top{
    i{
    position:fixed;
    bottom:20%;
    right:10%;
    font-size:2vw;
    &:hover{
        color:rgb(255, 0,0);
        cursor:grab;
    }
    }
    
}

@media screen and (max-width: 991px){

#get-involved{
    background-color: #F5F5F5;
    padding:1%;
    text-align:center;
    li{
        list-style-type: none;
    }
    #container{
        display:flex;
        flex-direction:column;
        margin-left:50%;
        transform: translate(-52%);
        text-align:center;
        .cards{
            i{
                font-size:4vw;
            }
            width:100%;
            padding:2%;
            h1,p,button{
                margin:2%;
            }
        }
    }
}
#home{
    img{
        width:10vw;
    }
}
#back-to-top{
    i{
    position:fixed;
    bottom:20%;
    right:10%;
    font-size:4vw;
    &:hover{
        color:rgb(255, 0,0);
        cursor:grab;
    }
    }
    
}
a.menu{
    display:block;
    color:white;
    text-decoration:none;
    transition:0.2s;
    &:hover{
        border-bottom: 5px solid white;

    }
}
}
@media screen and (max-width: 767px){
    footer{
        height:20vh;
        background-color: rgb(217, 83, 79);
        img{
            position:relative;
            margin-left:8%;
            top:60%;
            width:40vw;
        }
    }
    nav{
        display:flex;
        position:fixed;
        justify-content:space-between;
        background-color: black;
        padding:1%;
        box-shadow:2px 2px 2px black;
        z-index:20;
        width:100%;
        
        a.menu{
            display:none;
            color:white;
            text-decoration:none;
            transition:0.2s;
            &:hover{
                border-bottom: 3px solid white;
    
            }
        }
        #hide_menu{
            display:block;
        }
        img{
            margin-left:1vw;;
        }
        ul{
            display:flex;
            justify-content: space-between;
            margin-right:1vw;
    
        }
        li{
            color:white;
            list-style-type: none;
            margin-right:1vw;
            font-family:"Arvo";
    
    
        }
    }
    #back-to-top{
        i{
        position:fixed;
        bottom:20%;
        right:10%;
        font-size:6vw;
        &:hover{
            color:rgb(255, 0,0);
            cursor:grab;
        }
        }
        
    }
}